<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./static/style.css" />
</head>
<body>
    <div class="wrapper">
    <table class="table">
        <tr class="table__header">
            {% for header in headers %}
            <th class="table__header__cell">{{header}}</th>
            {% endfor %}
        </tr>
        {%for row, link in data%}
        <tr class="table__row">
            {%for cell in row%}
            <td class="table__cell">{{cell}}</td>
            {%endfor%}
            <td class="table__cell"><a href="https://{{link}}" target="_blank">link</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>